In [1]:
import sys
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [5]:
df = pd.read_clipboard()
df

   |  personId |.1  lastName |.2  firstName |.3
0  |  --------   |  --------   |  ---------   |
1  |         1   |      Wang   |      Allen   |
2  |         2   |      Wang   |        Bob   |

In [9]:
a = None
if a is not None: 
    print("haha")

In [10]:
"ABABAB" - "AB"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [32]:
def fibonacci(n, memo={}):
    if n in memo: return memo[n]
    if n<=1: 
        return n 
    memo[n] = fibonacci(n-1, memo) + fibonacci(n-2, memo)
    return memo[n]

In [35]:
fibonacci(100)

354224848179261915075

In [41]:
list("abovo")

['a', 'b', 'o', 'v', 'o']

In [42]:
'B' - 'A'

TypeError: unsupported operand type(s) for -: 'str' and 'str'